<h1><%= @facade.vendor.name %></h1>
<section class="contact_info">
  <p>Contact Info:</p>
  <p>Name: <%= @facade.vendor.contact_name %></p>
  <p>Phone: <%= @facade.vendor.contact_phone %></p>
</section>

<section class="vendor_info">
  <p>Credit Accepted?: <%= @facade.vendor.credit_accepted %></p>
  <p>Description: <%= @facade.vendor.description %></p>
</section>