<!DOCTYPE html>
<html>
  <head>
    <title>MarketMoneyFe</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  align: center;
  margin-left: auto;
  margin-right: auto;
}

th, td {
  background-color: azure;
}

h1 {
  text-align: center;
}

h4 {
  text-align: center;
}
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
